body{
  background-color: rgb(82, 145, 179)
}
/*----------------------------------------------*/
input{
  font-size: 130%;
  color: black;
  background-color: rgb(193, 8, 27);
  border: 2px solid rgb(91, 191, 19);
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
/*------------------------------------------------*/
input#submit{
  color: rgb(12, 209, 163);
  padding: 5px 50px;
  text-shadow: 4px 4px 5px #000000;
}
#submit{
  background-color: rgb(84, 84, 84);

}
