body{
  background-color: yellow;
}
/*-------------------------------------------------------*/
h1{
  color: red;
}
/*-------------------------------------------------------*/
p{
  color: gray;
  font-size: 75%;
}
/*-------------------------------------------------------*/
*{
  font-family: Arial Black;
}
/*-------------------------------------------------------*/
i{
  font-family: Courier New;
  color: lime;
}
/*-------------------------------------------------------*/
u{
  font-family: Comic Sans MS;
  Color: hotpink;
}
/*-------------------------------------------------------*/
b{
  font-family: Impact;
  color: Black;
}
/*-------------------------------------------------------*/
/*p b{} jest bardziej szczegółowe. Dotyczy każdego
  elementu b ale tylko w elementach p*/
p b{
  color: magenta !important; /* !important -em oznaczamy
                                element posiadający
                                priorytet */
}
/*-------------------------------------------------------*/
/*W normalnych warunkach ostatni w kolejności
  element p b{} posiada priorytet*/
p b{
  color: brown;
}
/*-------------------------------------------------------*/
/*Działa tylko na element p w którym jest #opis*/
p#opis {
  font-size: 100%;
}
/*-------------------------------------------------------*/
