body{
  background-color: yellow;
}
/*-------------------------------------------------------*/
h1{
  color: red;
}
/*-------------------------------------------------------*/
p{
  color: gray;
}
/*-------------------------------------------------------*/
*{
  font-family: Arial Black;
}
/*-------------------------------------------------------*/
i{
  font-family: Courier New;
  color: lime;
}
/*-------------------------------------------------------*/
u{
  font-family: Comic Sans MS;
  Color: hotpink;
}
/*-------------------------------------------------------*/
b{
  font-family: Impact;
  color: Black;
}
