body{
  background-color: teal;
  color: yellow;
  font-family: fantasy;
  padding: 200px;

}
/*-----------------------------------------------*/
.Strona{
  border: 1px solid black;
  background-color:
}
