body{
  background-color: rgb(245, 199, 184);
}
/*---------------------------------------------------------*/
div.box{
  height: 300px;
  width: 300px;
  background-color: rgb(207, 124, 250);
}
/*---------------------------------------------------------*/
p{
  height: 300px;
  width: 300px;
  background-color: rgb(77, 59, 50);
}
/*---------------------------------------------------------*/
.nokia{
  padding: 20px 20px 20px 20px
}
/*---------------------------------------------------------*/
.motorola{
  padding: 20px 20px 20px 20px
}
/*---------------------------------------------------------*/
#bottom{
  border-bottom: 3px solid red;
}
/*---------------------------------------------------------*/
.telefon{
  padding: 0px 50px 0px 50px
}
/*---------------------------------------------------------*/
.opis{
  padding: 0px 250px 0px 250px
}
/*---------------------------------------------------------*/
.cena{
  padding: 0px 50px 0px 150px
}
