body{
  background-color: orange;
}
/*-----------------------------------------*/
ol{
  list-style-type: upper-greek;
}
/*------------------------------------------*/
ul{
  list-style-type: decimal-leading-zero;
}
/*------------------------------------------*/
#star{
  list-style-image: url(../img/skull.jpg);

}
/*------------------------------------------*/
#star li{
  padding: 10px;
}
/*------------------------------------------*/
#a{
  text-indent: 30px;
}
