body{
  background-color: rgb(74, 175, 64);
}
/*-----------------------------------------------*/
#tab1 td, #tab2 td{
  border: 3px dotted black;
  padding: 25px;
}
/*-----------------------------------*/
#tab2{
  empty-cells: hide;
}
/*-----------------------------------*/
#tab3 td{
  border: 1px solid brown;
  border-collapse: collapse;
  padding: 25px;

}
#tab3{
  border-spacing: 25px;
}
